<ion-header>
    <ion-toolbar>
      <ion-title slot="end">Asignaciones</ion-title>
  
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
    <ion-list>
      <app-assignment *ngFor="let assignment of getAssignments()" [assignment]="assignment" (onEdit)="onEditAssignment($event)" 
      (onDelete)="onDeleteAssignment($event)"></app-assignment> 

    </ion-list>
  </ion-content>