<ion-header>
  <ion-toolbar>
    <ion-title>{{ "personDetails" | translate }} </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss(null)">{{ "close" | translate}} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        {{"name" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'typeYourName' | translate}}"  formControlName="nameCustomer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{"surname" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{'typeYourSurname' | translate}}" formControlName="surnameCustomer"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">
        {{"nationality" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'typeYournationality' | translate }}" formControlName="nationalityCustomer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ "emailAdress" | translate}}
      </ion-label>
      <ion-input type="text" placeholder="{{ 'typeYourEmail' | translate}}" formControlName="emailCustomer"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        {{ "telephoneNumber" | translate }}
      </ion-label>
      <ion-input type="text" placeholder="{{'typeYourTelephone' | translate }}" formControlName="telephoneCustomer"></ion-input>
    </ion-item>

    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"modify":"añadir" | translate}}</ion-button>
  </form>
</ion-content>