<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="selectedCustomer!=null">
        <ion-avatar class="person">
          <img *ngIf="!selectedCustomer?.pictureCustomer" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <img *ngIf="selectedCustomer?.pictureCustomer" alt="Person picture" [src]="selectedCustomer?.pictureCustomer" />
        </ion-avatar>
        <ion-label>{{selectedCustomer?.surnameCustomer}}, {{selectedCustomer?.nameCustomer}}</ion-label>
      </ng-container>
      <ion-label *ngIf="!selectedCustomer">Selecciona una persona</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item *ngFor="let customer of getCustomer()" button detail  (click)="onCustomerClicked(customer, accordion)">
          <ion-avatar class="person">
            <img *ngIf="!customer.pictureCustomer" alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="customer.pictureCustomer" alt="Person picture" [src]="customer.pictureCustomer" />
          </ion-avatar>
          <ion-label>{{customer.surnameCustomer}}, {{customer.nameCustomer}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>