<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SCA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SUNNY COAST APARTMENTS</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-buttons>

    <ion-button slot="start" [routerLink]="['/customers']">CLIENTES</ion-button>    
    <ion-button slot="primary" [routerLink]="['/tasks']">TASKS</ion-button>
    <ion-button slot="secondary" [routerLink]="['/houses']">APARTAMENTOS</ion-button>
    <ion-button slot="end" [routerLink]="['/bookings']">RESERVAS</ion-button>

  </ion-buttons>
</ion-content>
